[Unit]
Description=Immich Server (Official Latest)
After=immich-postgres.service immich-redis.service
Requires=immich-postgres.service immich-redis.service
RequiresMountsFor=/srv/immich/data

[Container]
EnvironmentFile=/home/akwata/homecloud/secrets/immich.env
Image=ghcr.io/immich-app/immich-server:release
Network=immich
PublishPort=2283:2283

# MinIOをマウントしたローカルディレクトリを接続
Volume=/srv/immich/data:/usr/src/app/upload

# 正しいコンテナ名（systemd-つき）に修正
Environment=REDIS_HOSTNAME=systemd-immich-redis
Environment=REDIS_PORT=6379

[Install]
WantedBy=multi-user.target
