[Unit]
Description=Immich PostgreSQL 17

[Container]
EnvironmentFile=/home/akwata/homecloud/secrets/immich.env
Image=ghcr.io/immich-app/postgres:17-vectorchord0.5.3
Network=immich
Volume=immich-postgres:/var/lib/postgresql/data

[Install]
WantedBy=multi-user.target
