○ podman.service - Podman API Service
     Loaded: loaded (]8;;file://pi5/usr/lib/systemd/user/podman.service/usr/lib/systemd/user/podman.service]8;;; [0;1;38;5;185mdisabled[0m; preset: [0;1;32menabled[0m)
     Active: inactive (dead)
TriggeredBy: ○ podman.socket
       Docs: ]8;;man:podman-system-service(1)man:podman-system-service(1)]8;;

 7月 19 23:05:06 pi5 systemd[1073]: Starting podman.service - Podman API Service...
 7月 19 23:05:06 pi5 systemd[1073]: Started podman.service - Podman API Service.
 7月 19 23:05:06 pi5 podman[27907]: time="2026-07-19T23:05:06+09:00" level=info msg="/usr/bin/podman filtering at log level info"
 7月 19 23:06:24 pi5 podman[27907]: time="2026-07-19T23:06:24+09:00" level=info msg="Received shutdown signal \"terminated\", terminating!" PID=27907
 7月 19 23:06:24 pi5 podman[27907]: time="2026-07-19T23:06:24+09:00" level=info msg="Invoking shutdown handler \"libpod\"" PID=27907
 7月 19 23:06:24 pi5 systemd[1073]: Stopping podman.service - Podman API Service...
 7月 19 23:06:24 pi5 systemd[1073]: Stopped podman.service - Podman API Service.
